html, body{
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: contain;
}

body{
    font: 'Raleway', sans-serif;
    color :rgb(17, 12, 58);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-image: url(images/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
}

.tittle{
    border: 0.2em solid rgba(56, 170, 156, 0.9);
    margin: 1.3vh auto;
    margin: calc(var(--vh, 1vh) * 1.3) auto;
    border-radius: 20px;
    background-color: rgba(56, 170, 156, 0.8);
    font-size: 2.2vmin;
    font-size: calc(var(--vmin, 1vmin) * 2.2);
    height: 6.5vh;
    height: calc(var(--vh, 1vh) * 6.5);
    width: 30%;
}

.score{
    margin: 1vh auto;
    margin: calc(var(--vh, 1vh) * 1) auto;
    width: 30%;
    height: 4vh;
    height: calc(var(--vh, 1vh) * 4);
    border-radius: 20px;
    background-color: rgba(56, 170, 156, 0.8);
    border: 0.2em solid rgba(56, 170, 156, 0.9);
    font-size: 2vmin;
    font-size: calc(var(--vmin, 1vmin) * 2);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.game{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    background-color: white;
    border: 0.29em solid rgba(14, 94, 20, 1);
}

.grid{
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(14, 1fr);
}

.grid-item {
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.end{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    left:0;
    right:0;
}

#message{
    font-size: 5vmin;
    font-size: calc(var(--vmin, 1vmin) * 5);
    color:rgba(255, 255, 255, 0.75);
    margin: 5vh auto;
    margin: calc(var(--vh, 1vh) * 5) auto;
    width: 100%;
    height: 5vh;
    height: calc(var(--vh, 1vh) * 5);
    letter-spacing: 0.5em;
}

#restart{
    font-size: 3vmin;
    font-size: calc(var(--vmin, 1vmin) * 3);
    color:rgba(255, 255, 255, 0.75);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    background:rgba(0,0,0,0);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em auto;
}

#restart:hover{
    background-color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

#pause{
    display: none;
    position: absolute;
    top: 12%;
    top: calc(var(--vh, 1vh) * 12);
    left: 5%;
    font-size: 1.5vw;
    color:rgb(225, 255, 1);
    letter-spacing: 0.3em;
    background:rgba(255, 174, 0, 0.6);
    border: 0.1em solid rgb(255, 174, 1);
    border-radius: 1em;
    padding: 0.4em 0.4em 0.5em 0.65em;
}

#pause:hover{
    background:rgba(255, 174, 0, 0.9);
    cursor: pointer;
}